# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PyTorch checkpoints
# =========================
*.pth
*.pt

# =========================
# Figures / outputs
# =========================
figures/
runs/
logs/

# =========================
# Dataset
# =========================
datasets/
*.h5

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build
# =========================
build/
dist/

# =========================
# Temporary
# =========================
*.tmp
*.log
